body {
    margin: 10px 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #444;
}

.grcbotadmin-logo, .grcbotadmin-nav-items, .grcbotadmin-main-wrapper, .grcbotadmin-main-content-manage, .grcbotadmin-footer {
    padding: 10px 40px;
    line-height: 1.3em;
}

/* NAV ELEMENTS */

.grcbotadmin-nav-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
}

.grcbotadmin-logo {
    text-align: center;
    margin: 0%;
    padding: 0px;
    padding-top: 40px;
    font-size: 22px;
}


.grcbotadmin-nav-items {
    display: block;
    margin: 0%;
    padding: 0px;
    padding-top: 40px;
    font-size: 17px;
    font-family: monospace;
}

.grcbotadmin-nav-items ul {
    list-style: none;
    padding: 0px;
}

.grcbotadmin-nav-items ul li a {
    text-decoration: none;
    color: #444;
    padding: 10px;
}

.grcbotadmin-nav-items ul li a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 4px #444;
    padding: 10px;
}

.grcbotadmin-nav-items ul li {
    display: inline;
    padding: 20px;
}

/* END OF NAV ELEMENTS */

.grcbotadmin-main-content-manage {
    background-color:whitesmoke;
    width: fit-content;
    align-content: center;
    margin: 0 auto 0 auto;
    
}
.grcbotadmin-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grcbotadmin-main-content h3 {
    padding: 20px;
    margin-right: 150px;
}

.grcbotadmin-main-content a {
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: darkblue;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
    color: white;
}

.grcbotadmin-main-content a:hover {
    background-color: cadetblue;
    text-decoration: none;
    color: white;
}

.grcbotadmin-footer {
    text-align: center;
}